<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.company.tokoonline">


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".config.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".Splash"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity"/>
        <activity android:name=".MainActivity"/>
        <activity android:name=".DetailActivity"/>
        <activity android:name=".CartActivity"/>
        <activity android:name=".CheckOutActivity"/>
        <activity android:name=".CheckOutMultiActivity"/>
        <activity android:name=".PaymentActivity"/>
        <activity android:name=".KonfirmasiActivity"/>
        <activity android:name=".PesananActivity"/>
        <activity android:name=".PesananDetailActivity"/>

        <activity android:name=".KategoriActivity"/>
        <activity android:name=".PencarianActivity"/>

        <activity android:name=".AkunActivity"/>

        <!--ADMIN-->


        <activity android:name=".admin.AdminDashboard"/>
        <activity android:name=".admin.AdminBarang"/>
        <activity android:name=".admin.AdminKategori"/>
        <activity android:name=".admin.AdminBank"/>
        <activity android:name=".admin.AdminPesanan"/>
        <activity android:name=".admin.AdminPesananDetail"/>


    </application>

</manifest>